.nextPage{
    opacity: 0.4;
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
    margin-bottom: 1rem;
  }

.nextPage:hover{
    cursor: pointer;
    opacity: 1;
}
  
.arrowDown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.prevPage{
    opacity: 0.4;
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
    margin-bottom: 1rem;
  }

.prevPage:hover{
    cursor: pointer;
    opacity: 1;
}
  
.arrowUp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}