.contactCard{
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 5px;   
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vw;
    background-image: url("../assets/doodle2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out .4s;
}

.contactForm{
    background-color: rgba(35, 35, 35, 0.84);
    height: 100%;
    width: 65%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    gap: 1rem;
    /* border-radius: 10px; */
}

.contactForm label{
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: .2em;
    transition: ease-in-out .5s;
    color: #d6d4e0c0;
    
}
    


.contactForm input{
    background: -webkit-linear-gradient(rgba(120, 120, 120, 0.621), rgba(28, 28, 28, 0.732));
    -webkit-box-shadow: 0px 2px 0px rgba(29, 29, 29, 0.886);
    color: #d6d4e0;
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    border-radius: 4px;
    padding: .25rem;
    margin-top: .1rem;
}

.msgBody{
    height: 10rem;
  
}

.contactForm button{
    width: fit-content;
    cursor: pointer;
    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 0px rgba(29, 29, 29, 0.886);
    background: -webkit-linear-gradient(rgba(120, 120, 120, 0.829), rgb(28, 28, 28));
    padding: .33rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 600;
    border: solid 1px #d6d4e02e;
    border-radius: 4px;
    transition: .3s;    
    color: #d6d4e0;
    text-align: center;
    display: flex;
    align-self: center;
}

.contactForm button:hover{
    color: #fff;
    transform: scale(1.1);
    
}

.mail{
    color: #d6d4e0c0;
    height: 3.5rem;
    width: 3.5rem;
    transition: .3s;
    display: flex;
    align-self: center;
}