.contactCard{
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 5px;   
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 60vw;
    transition: ease-in-out .4s;
    /* background-image: url("../assets/explosion.jpg"); */

}

.contactCard h2{
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    letter-spacing: .1em;
    transition: ease-in-out .5s;
    background: -webkit-linear-gradient(rgb(138, 16, 169), rgba(248, 222, 55, 0.829));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    	
    text-shadow: 1px 1.5px 0px rgba(234, 118, 254, 0.391);
    /* font-family: 'Lord Spirit', sans-serif; */
    text-transform: uppercase;                                                                                                                                                                                          
}

.contactImg{
    height: 100%;
    width: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    background-image: url("../assets/fireworks.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

/* .logo{
    display: flex;
    position: inherit;
    
    right: 0;
    margin: 2rem;
    height: 6rem;
    width: 6rem;
} */

.contactForm{
    background-color: rgba(60, 60, 60, 0.452);
    height: 100%;
    width: 65%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 5%;
    gap: 1rem;
    /* border-radius: 10px; */
}

.contactForm label{
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .2em;
    transition: ease-in-out .5s;
    color: #d6d4e0c0;
    /* border-top: solid 1px #d6d4e04e; */
    /* padding-top: .5rem; */
    border-bottom: solid 1px #d6d4e04e;
    padding-bottom: .5rem;

}

.contactForm input, .msgBody{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 5px;   
    background-color: rgba(72, 72, 72, 0.519);
    /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.195), rgba(28, 28, 28, 0.732)); */
    /* background-color: transparent; */
    -webkit-box-shadow: 0px 2px 0px rgba(29, 29, 29, 0.886);
    color: #d6d4e0;
    text-align: left;
    font-size: 1.25rem;
    border-color: transparent;
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
    
}

.msgBody{
    height: 8rem;
    width: 100%;
    font-family: inherit;
}

.contactForm button{
    width: 50%;
    cursor: pointer;
    text-shadow: 1px  2px 1px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 0px rgba(29, 29, 29, 0.886);
    background-image: url("../assets/wave.jpg");
    background-position: center;
    background-size: cover;   
    margin-top: .25rem; 
    padding: .25rem;
    border: solid 1px #d6d4e02e;
    border-radius: 10px;
    transition: ease-in-out .3s;    
    color: #d6d4e0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .1em;
}

.contactForm button:hover{
    color: #fff;
    transform: scale(1.05);
    
}

.mail{
    color: #d6d4e0c0;
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
    display: flex;
    align-self: center;
}


@media only screen and (max-width: 800px) {
    .contactForm input, .msgBody{
        padding: .25rem;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.224);
    }
    .contactForm label{
        font-size: .6rem;
    }
    .contactCard{
        background-image: url("../assets/explosion.jpg");
        height: 76vh;
        width: 85vw;
    }
    .contactCard h2{
        font-size: 1.5rem;
    }
    .contactImg{
        display: none;
    }
    .contactForm{
        width: 100%;
    }
    
    .mail{
        height: 2rem;
        width: 2rem;
    }
    .cardFooter p {
        margin-top: 0;
       
    
    }
    
}