.copyright{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7rem;
}

.copyright p{
    font-weight: 600;
    text-align: center;
    color: #d6d4e0c0;
}

@media only screen and (max-width: 900px) and (orientation: landscape){
    .copyright{
        margin-bottom: 1rem;
    }
    .copyright p{
        font-size: 10px;
    }

}