
.main {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    font-family: 'CGF Locust Resistance', sans-serif;
    letter-spacing: .5rem;
    margin: 0;
    text-align: center;
    font-size: 6.25rem;
    background: -webkit-linear-gradient(rgb(138, 16, 169), rgba(248, 222, 55, 0.829));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    	
    text-shadow: 2px 4px 3px rgba(148, 148, 148, 0.071)
}

.main h2 {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: .35em;
    transition: .5s;
}

.main p {
    font-size: 1.25em;
    padding-bottom: 3.5rem;
    
}

.main span {
    cursor: pointer;
}

.main span:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(rgba(248, 222, 55, 0.829), rgb(138, 16, 169));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.github, .linkedin, .downloadCV{
    color: #d6d4e0;
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
}

.icons a:visited {
    text-decoration: none;
    color: inherit;
}

.github:hover, .linkedin:hover, .downloadCV:hover{
    transform: scale(1.25);
}

