.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

li {
    list-style: none;
    padding: .5rem 5rem;
}

.logo {
   position: absolute;
   display: flex;
   left: 0;
   padding: .5rem 5rem;
   padding-top: 1rem;
}


img{
    height: 2.5rem;
    width: 100%;
}