.navbar {
    
        min-height: 100vh;
        width: 5%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        overflow-x: hidden;
        transition: 0.5s;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}

.links {
    color: #d6d4e04e;
    display: flex;
    flex-direction: column;
    gap: 3rem;
       
}

li {
    list-style: none;

}


@media only screen and (max-width: 1024px) {
    .navbar{
        display: none;
    }
  }

 