
.App {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;

}

.section1, .section2, .section3{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  /* flex-wrap: wrap; */
  /* flex-shrink: 1; */
}


.Projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tech{
  color: #d6d4e0;
  height: 1.5rem;
  width: 1.5rem;
  transition: .3s;
  display: flex;
}



@media only screen and (max-width: 800px) {
  .Projects{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 70vh;

  }
}

@media only screen and (max-width: 800px) and (orientation: landscape){
  .Projects{
    height: 75vh;
  }
  .tech{
    height: 1rem;
    width: 1rem;
  }
}

