body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #121212; */
  background-image: linear-gradient(to left, #434343 0%, black 100%);
 
  /* background-image: url("C:\Users\phili\OneDrive\My Documents\Projects\pmoodie-dev-portfolio\pmoodie\src\assets\abstract-background.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;  */
  
  color: #d6d4e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
