*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background-image: url("C:\Users\phili\OneDrive\My Documents\Projects\pmoodie-dev-portfolio\pmoodie\src\assets\abstract-background.jpg"); */

  background-image: 
  linear-gradient(to bottom, #2c2c2c 40%, black 75%), 
  url("C:\Users\phili\OneDrive\My Documents\Projects\pmoodie-dev-portfolio\pmoodie\src\assets\abstract-background.jpg");
  background-blend-mode: saturation;
  background-position: center;
  background-repeat: no-repeat; 
  background-size:cover;
  backdrop-filter: blur(4px);

  color: #d6d4e0;
  font-size: 16px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
